<!DOCTYPE html>
<html lang="pt" 
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:brewer="http://brewer.luizmario.com.br"
	  layout:decorate="~{layout/dashbord}">
<head>
	<title>Pesquisa de usuário</title>
	
	<link rel="stylesheet" type="text/css" href="/brewer/stylesheets/vendors/upload.min.css" th:href="@{/stylesheets/vendors/upload.min.css}"/>
</head>
<body>
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-10">
						<h1>
							Pesquisa de usuário
						</h1>
					</div>
					<div class="col-sm-2">
						<div class="aw-page-header-controls">
							<a class="btn  btn-default" th:href="@{/usuario/novo}">
								<i class="glyphicon  glyphicon-plus-sign"></i><span class="hidden-xs  hidden-sm"> Novo usuário</span>
							</a>
						</div>
					</div>
				</div>
			</div>			
		</div>
		<div class="container-fluid">
			<form method="GET" th:object="${usuarioFilter}">
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="input-cliente-nome" class="control-label">Nome</label>
							<input id="input-cliente-nome" type="text" class="form-control" autofocus th:field="*{nome}"/>
						</div>
					</div>					
					<div class="col-sm-6">
						<div class="form-group">
							<label for="input-cliente-cpfcnpj" class="control-label">email</label>
							<input id="input-cliente-cpfcnpj" type="text" class="form-control" th:field="*{email}"/>
						</div>					
					</div>				
				</div>
				<div class="row">									
					<div class="col-sm-6  form-group">
						<label class="control-label">Grupos</label> 
						<div>
							<th:block th:each="grupo : ${grupos}">
								<div class="checkbox  checkbox-inline">
									<input type="checkbox" th:value="${grupo.codigo}" th:field="*{grupos}"/>
									<label th:for="${#ids.prev('grupos')}" th:text="${grupo.nome}"></label>
								</div>
							</th:block>
						</div>
					</div>
				</div>				
				
				<button type="submit" class="btn  btn-primary">Pesquisar</button>					
			</form>
			<div class="table-responsive  bw-tabela-simples">
				<table class="table  table-hover">
					<thead>
						<tr>
							<th class="table-usuarios-col-nome">Nome
								<!-- <brewer:order page="${pagina}" field="nome" text="Nome"/>  --> 
							</th>
							<th class="table-usuarios-col-email">Email
								<!-- <brewer:order page="${pagina}" field="email" text="email"/>  --> 
							</th>							
							<th class="table-usuario-col-grupos">Grupos</th>
							<th class="table-usuario-col-status">Status</th>
							<th class="table-cliente-col-acoes"></th>							
						</tr>
					</thead>
						
					<tbody>
						<tr th:each="usuario : ${usuarios}">
							<td th:text="${usuario.nome}"></td>
							<td th:text="${usuario.email}"></td>
							<td>
								<span th:each="grupo : ${usuario.grupos}" th:text="| ${grupo.nome}${grupoStat.last ? '' : ','}|"></span>
							</td>							
							<td th:text="${usuario.ativo} ? 'Ativo' : 'Inativo'"></td>
							<td class="text-center">
								<a class="btn  btn-link  btn-xs" title="Editar"> 
									<i class="glyphicon glyphicon-pencil"></i>
								</a>
								<a class="btn  btn-link  btn-xs" title="Excluir">
									<i class="glyphicon glyphicon-remove"></i>
								</a>
							</td>
						</tr>
					  <!--  <tr th:if="${pagina.vazia}">
							<td colspan="7">Nenhum usuário encontrado</td> 
						</tr>  -->
					</tbody>
				</table>
				
<!-- 			<brewer:pagination page="${pagina}"/>  -->
		</div>			
		</div>
	</section>
</body>
</html>