<!DOCTYPE html>
<html lang="pt" 
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:brewer="http://brewer.luizmario.com.br"
	  xmlns:data="http://www.thymeleaf.org/extras/data"	  
	  layout:decorate="~{layout/dashbord}">
<head>
	<title>Cadastro de cliente</title>
</head>
<body>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<h1>
				Cadastro de cliente
			</h1>
		</div>
	</div>
	<div class="container-fluid">
	
		<form method="POST" th:object="${cliente}">
			<brewer:message/>
			
			<div class="row">				
				<div class="col-sm-12  form-group   bw-required" brewer:classforerror="nome">
					<label for="input-cliente-nome" class="control-label">Nome</label>
					<input id="input-cliente-nome" type="text" class="form-control" th:field="*{nome}"/>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-4 form-group  bw-required" brewer:classforerror="tipoPessoa">
					<label for="input-cliente-tipo" class="control-label">Pessoa</label>
					<div>
						<th:block th:each="tipoPessoa : ${tipoPessoa}">
							<div class="radio  radio-inline">
								<input type="radio" class="js-radio-tipo-pessoa" th:id="|id_${tipoPessoa.field}|" name="tipoPessoa" 
									   th:field="*{tipoPessoa}" th:value="${tipoPessoa}" data:tipo-pessoa="${tipoPessoa.field}" data:mascara="${tipoPessoa.mascara}"/>
								<label class="control-label" th:for="|id_${tipoPessoa.field}|" th:text="${tipoPessoa.descricao}"></label>
							</div>
						</th:block>						
					</div>
				</div>			
				<div class="col-sm-8  form-group  bw-required" brewer:classforerror="cpfOuCnpj">					
					<label for="input-cliente-cpfcnpj" class="control-label">CPF/CNPJ</label>
					<input id="input-cliente-cpfcnpj" type="text" class="form-control" disabled th:field="*{cpfOuCnpj}"/>
				</div>			
			</div>
			
			<div class="row">
				<div class="col-sm-4  form-group">					
					<label for="input-cliente-telefone">Telefone</label>
					<input id="input-cliente-telefone" type="text" class="form-control  js-phone-number" th:field="*{telefone}"/>
				</div>			
				<div class="col-sm-8  form-group" brewer:classforerror="email">					
					<label for="input-cliente-email" class="control-label">email</label>
					<input id="input-cliente-email" type="text" class="form-control" th:field="*{email}"/>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-4  form-group">					
					<label for="input-cliente-logradouro">Logradouro</label>
					<input id="input-cliente-logradouro" type="text" class="form-control" th:field="*{endereco.logradouro}"/>
				</div>
				<div class="col-sm-4  form-group">					
					<label for="input-cliente-numero">Número</label>
					<input id="input-cliente-numero" type="text" class="form-control" th:field="*{endereco.numero}"/>
				</div>
				<div class="col-sm-4  form-group">					
					<label for="input-cliente-complemento">Complemento</label>
					<input id="input-cliente-complemento" type="text" class="form-control" th:field="*{endereco.complemento}"/>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-4  form-group">					
					<label for="input-cliente-cep">CEP</label>
					<input id="input-cliente-cep" type="text" class="form-control  js-cep" th:field="*{endereco.cep}"/>
				</div>
				<div class="col-sm-4  form-group">					
					<label for="input-cliente-estado">Estado</label>
					<select id="input-cliente-estado" class="form-control" th:field="*{endereco.estado.codigo}">
						<option value="">Selecione um estado</option>
						<th:block th:each="estado : ${estados}">
							<option th:value="${estado.codigo}" th:text="${estado.nome}"></option>						
						</th:block>
					</select>
				</div>
				<div class="col-sm-4  form-group">					
					<label for="input-cliente-cidade">Cidade</label>
					<input type="hidden" id="inputHiddenCidadeSelecionada" th:value="*{endereco.cidade} != null ? *{endereco.cidade.codigo}">
					<div class="bw-field-aciton">
						<select id="input-cliente-cidade" class="form-control" data:url="@{/cidade}" th:field="*{endereco.cidade}">
						</select>						
						
						<div class="bw-field-aciton__icon  js-image-loading" style="display: none">
							<img th:src="@{/images/mini-loading.gif}"/>
						</div>
					</div>
				</div>
			</div>
			
			<div class="form-group">
				<button class="btn  btn-primary" type="submit">Salvar</button>
			</div>
						
		</form>	
	</div>	
</section>
<th:block layout:fragment="javascripts-extra">
	<script th:src="@{/javascripts/cliente.mascara-cnpj-cpf.js}"></script>
	<script th:src="@{/javascripts/cliente.combo-estado-cidade.js}"></script>
</th:block>
</body>
</html>