<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<div class="modal  fade" id="pesquisaRapidaCliente" tabindex="-1"
	role="dialog" th:fragment="pesquisaRapdiaCliente">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<i>&times;</i>
				</button>
				<h4 class="modal-title">Pesquisa de clientes</h4>
			</div>

			<div class="modal-body">
				<div class="alert  alert-danger  hidden  js-mensagem-erro" role="alert">
				  <span class="glyphicon  glyphicon-exclamation-sign" aria-hidden="true"></span>
				  <span class="sr-only">Error:</span> Para pesquisa informar no mínimo 3 caracteres
				</div>			
				<form class="form" th:action="@{/cliente}">
					<div class="row">
						<div class="form-group  col-sm-12">
							<label class="control-label" for="nomeClienteModal">Nome cliente</label> 
							<input type="text" class="form-control" id="nomeClienteModal" name="nome" autofocus="autofocus" />
						</div>
					</div>
					<button type="submit" class="btn  btn-primary  js-pesquisa-rapida-cliente-btn">Pesquisar</button>
					<a href="#" class="btn  btn-default" data-dismiss="modal">Cancelar</a>
				</form>
				<div id="containerTabelaPesquisaCliente"></div>
			</div>
		</div>
	</div>
	<th:block th:replace="hbs/tabelaPesquisaRapidaCliente"></th:block>
</div>
</html>