<!DOCTYPE html>
<html lang="pt" 
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:brewer="http://brewer.luizmario.com.br"
	  layout:decorator="'layout/dashbord'">
<head></head>
<body>
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<h1>
					Cadastro de cerveja
				</h1>
			</div>
		</div>
			
		<div class="container-fluid">
		
				
			<form method="POST" th:object="${cerveja}" class="form-vertical  js-form-loading">
		  		<brewer:message/>			
		  		
				<div class="row">				
					<div class="col-sm-3  form-group" brewer:classforerror="sku">
						<label for="input-cerveja-sku" class="control-label">Sku</label>
						<input id="input-cerveja-sku" type="text" class="form-control" th:field="*{sku}"/>
					</div>
				
					<div class="col-sm-9  form-group" brewer:classforerror="nome">
						<label for="input-cerveja-nome" class="control-label">Nome</label>
						<input id="input-cerveja-nome" type="text" class="form-control" th:field="*{nome}"/>
					</div>
				</div>
					
				<div class="form-group" brewer:classforerror="descricao">
					<label for="input-cerveja-descricao" class="control-label">Descrição</label>
					<textarea id="input-cerveja-descricao" rows="3" class="form-control" th:field="*{descricao}"></textarea>
				</div>
					
				<div class="row">
					<div class="col-sm-3  form-group" brewer:classforerror="estilo">
							<label for="input-cerveja-estilo" class="control-label">Estilo</label>
							<div class="bw-field-aciton">
								<select id="input-cerveja-estilo" class="form-control" th:field="*{estilo}">
									<option value="">Selecione um estilo</option>
									<option th:each="estilo : ${estilos}" th:value="${estilo.codigo}" th:text="${estilo.nome}"></option>
								</select>
							
								<div class="bw-field-action__icon">
									<a href="#" data-toggle="modal" data-target="#modalCadastroRapidoEstilo">
										<i class="glyphicon glyphicon-plus-sign  bw-field-action__iconlarge"></i>
									</a>
								</div>
							</div>
						</div>
						
						<div class="col-sm-3  form-group" brewer:classforerror="sabor">
							<label for="input-cerveja-sabor" class="control-label">Sabor</label>
							<select id="input-cerveja-sabor" class="form-control" th:field="*{sabor}">
								<option value="">Selecione um sabor</option>
								<option th:each=" sabor : ${sabores}" th:value="${sabor}" th:text="${sabor.descricao}"></option>
							</select>
						</div>
						
						<div class="col-sm-3  form-group" brewer:classforerror="teorAlcoolico">
							<label for="input-cerverja-teoracolico" class="control-label">Teor alcolico</label>
							<div class="input-group">
								<input id="input-cerverja-teoracolico" type="text" class="form-control  js-decimal" th:field="*{teorAlcoolico}"/>
								<div class="input-group-addon">%</div>
							</div>
						</div>
						
						<div class="col-lg-3  col-sm-6  form-group" brewer:classforerror="origem">
							<label for="input-cerverja-orgim" class="control-label">Origem</label>
							<div>
								<th:block th:each="origem : ${origens}">
									<div class="radio  radio-inline">
										<input th:id="|id_${origem}|" th:value="${origem}" type="radio" th:field="*{origem}"/>
										<label th:for="|id_${origem}|" th:text="${origem.descricao}" th:classappend="${#fields.hasErrors('origem')} ? has-error" class="control-label">Nacional</label>
									</div>
								</th:block>
							</div>
						</div>
											
					</div>
			
					<div class="row">
						<div class="col-sm-3  form-group" brewer:classforerror="valor">
							<label for="input-cerverja-valor" class="control-label">Valor</label>
								<div class="input-group">
									<div class="input-group-addon">R$</div>													
									<input id="input-cerverja-valor" type="text" class="form-control  js-decimal" th:field="*{valor}"/>
								</div>
						</div>
						
						<div class="col-sm-3  form-group" brewer:classforerror="comissao" >
							<label for="input-cerverja-comissao" class="control-label">Comissão</label>
							<div class="input-group">																					
								<input id="input-cerverja-comissao" type="text" class="form-control  js-decimal" th:field="*{comissao}"/>
								<div class="input-group-addon">%</div>
							</div>
						</div>
						
						<div class="col-sm-3  form-group" brewer:classforerror="quantidadeEstoque" >
							<label for="input-cerveja-estoque" class="control-label">Estoque</label>
							<input id="input-cerveja-estoque" type="text" class="form-control  js-plain" th:field="*{quantidadeEstoque}"/>
						</div>
					</div>
					
					<div class="form-group">
						<button class="btn  btn-primary" type="submit">Salvar</button>
					</div>
			
				</form>
			</div>

			<div th:replace="estilo/cadastro-rapido-estilo  :: modal"></div>
	
	</section>
<th:block layout:fragment="javascripts-extra">
	<script th:src="@{/javascripts/estilo.cadastro-rapido.js}" src="/javascripts/estilo.cadastro-rapido.js"></script>
</th:block>
</body>
</html>